[submodule "third_part/jsoncpp"]
	path = third_part/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "third_part/spdlog"]
	path = third_part/spdlog
	url = https://github.com/gabime/spdlog.git
